@import "../colors";

.editscore {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 120px;
  height: 35px;
  border-radius: 17.5px;
  border: 1px solid $grapefruit-color;
  background-color: #ffffff;
  color: $grapefruit-color;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  cursor: pointer;
}
